<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sony Camera Remote Manager</title>
    <% for (var css in htmlWebpackPlugin.files.css) { %>
    <link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
    <% } %>
</head>
<body bgcolor="#000" id="app">
<section id="live-view">
    <ul class="status-icons">
        <li rv-each-stat="camera.statusKeys" rv-html="describeParam | call stat camera._forceUpdate">
            <!--{ }-->
        </li>
    </ul>
    <p class="center-text" rv-class-hidden="camera.state | eq 'CONNECTED' ">
        {liveViewText | call} <br/>
        {camera.state} <br/>
        <button rv-on-click="camera.reconnect"
        rv-if="camera.state | neq 'CONNECTED'">Try Reconnect</button>
    </p>
    <img rv-src="camera.liveview">
</section>
<section class="task-creator">
    Create new task
    <i class="material-icons">face</i>
</section>
<section class="tasks-flow">
    Tasks flow
</section>

</body>
</html>