<section id="live-view">
    <ul class="status-icons">
        <li rv-each-stat="camera.statusKeys"
            rv-on-click="clickHandler"
            rv-on-contextmenu="rightClickHandler"
            rv-html="describeParam | call stat camera._forceUpdate">
        </li>
    </ul>
    <p class="center-text" rv-class-hidden="camera.state | eq 'CONNECTED' ">
        {liveViewText | call} <br/>
        {camera.state} <br/>
        <a class="btn" rv-on-click="camera.reconnect" rv-if="camera.state | neq 'CONNECTED'"><span>Try Reconnect</span>
            <i class="material-icons">refresh</i></a>

    </p>
    <div class="liveimg-wrapper">
        <img rv-src="camera.liveview">
    </div>
</section>