<section class="tasks-flow">
    <header>
        <!-- TODO: Switch between them with rivets-->
        <a class="btn" rv-on-click="startSequence" id="start-tasks"><span>START SEQUENCE</span><i class="material-icons">play_circle_filled</i></a>
        <a class="btn" rv-on-click="saveSequence"id="pause-tasks"><span>SAVE</span><i class="material-icons">save</i></a>

    </header>
    <section class="task-container">
        <div rv-each-task="taskManager.tasks" class="task"  rv-on-click="editTask"
             rv-class-active="task | eq taskManager.runningTask" rv-class-edited="task | eq codeEditor.currentTaskEdited">
            <span class="name">{task.name}</span>
            <div class="code" style="white-space: pre-line">
                {task.code}
            </div>
        </div>
    </section>
</section>