
.tasks-flow {
  position: relative;
  grid-area: footer;
  background: #050705;
  overflow: hidden;
  header {
    position: absolute;
    left: 8px;
    top: 8px;
  }
  .task-container {
    margin-top: 48px;
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow-x: auto;
    .task {
      padding: 0 2px 2px 0;
      text-align: right;
      font-size: 14px;
      margin: 16px;
      flex-grow: 1;
      max-width: 120px;
      max-height: 120px;
      overflow: hidden;
      border-radius: 3px;
      background: #000;
      border: 1px #222 solid;
      cursor: pointer;
      &.active {
        border: 1px #777 solid;
      }
      &.edited {
        > .name {
          color: #b94;
          font-weight: 500;
        }
      }
      .code {
        width: 200%;
        text-align: left;
        opacity: 0.3;
        font-size: 8px;
      }
    }
  }
}