
html, body {
  height: 100%;
  margin: 0;
  font-family: sans-serif;
}

@import "./live-view";
@import "./right-edit-panel";
@import "./tasks-flow";
body {

  .main-grid {
    display: grid;
    width: 100%;
    height: 100%;
    background: #000;
    color: #999;
    grid-template-columns: 68% 2px 1fr;
    grid-template-rows: auto 164px;
    grid-template-areas: "view splitter sidebar" "footer footer footer";


    #splitter {
      position: relative;
      grid-area: splitter;
      width: 100%;
      height: 100%;
      background: #666;
      .left, .right {
        position: absolute;
        cursor: pointer;
        top: 4px;
        width: 32px;
        > i {
          color: #ccc;
        }
      }
      .left {
        left: -32px;
      }
      .right {
        left: 8px;
      }
      .center {
        position: absolute;
        cursor: pointer;
        width: 100%;
        height: 100%;
      }

    }
  }
  .justify-center {
    justify-content: center;
  }
  .justify-end {
    justify-content: flex-end;
  }
}

body {
  .CodeMirror-hint, li.CodeMirror-hint-active {
    padding-left: 24px !important;
  }
}

.btn {
  display: inline-block;
  padding: 0.4em 0.8em 0.25em;
  border: 0.1em solid #ddd;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #ddd;
  text-align: center;
  transition: all 0.2s;
  cursor: pointer;
  &:hover {
    color: #000000;
    background-color: #ddd;
  }
  span {
    position: relative;
    top: -6px;
  }
  i.material-icons {
    margin-left: 4px;
    font-size: 22px;
  }
}

@media all and (max-width: 30em) {
   a.btn {
      display: block;
      margin: 0.4em auto;
  }
}

@import "material-icons";